<div class="admin">
    <check-connection/>

    <div class="page-header">
        <h1>Administration</h1>
    </div>

    <div class="admin-dashboard">
        <div id="user" class="user" ng-click="gotoUsers()">
            <div class="content"></div>
        </div>
        <div id="trainings" class="trainings" ng-click="goto('trainings')">
            <div class="content"></div>
        </div>
        <div id="sessions" class="sessions" ng-click="gotoSessions()">
            <div class="content"></div>
        </div>
        <div id="sites" class="sites" ng-click="goto('sites')">
            <div class="content"></div>
        </div>
    </div>
</div>
