<div>
    <check-connection/>

    <div class="page-header">
        <h1>Liste des formateurs</h1>
    </div>

    <div>
        <h4>Filters</h4>
        <input class="span5" type="text" ng-model="search" placeholder="Rechercher">
        <button class="btn btn-info" ng-click="tri = 'lastname'; reverse = !reverse">Trier par Nom</button>
        <button class="btn btn-info" ng-click="tri = 'site'; reverse = !reverse">Trier par Site</button>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Site de rattachement</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users | orderBy:tri:reverse | filter : search " ng-if="user.role == 'former'">
                <td>{{$index + 1}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.site}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
