<div ng-controller="HomeCtrl">
    <check-connection/>

    <div class="page-header">
        <h1>Bienvenue {{user.firstname}} {{user.lastname}}</h1>
    </div>

    <div>
        <p>
            Vous pouvez consulter les formations existantes et vous ajouter pour animer une session.
        </p>
    </div>

    <div>
        <a href="https://angularjs.org/" target="_blank"><img src="img/angular-logo.png" width="100px" alt="AngularJS"></a>
        <a href="http://expressjs.com/" target="_blank"><img src="img/express-logo.png" width="100px" alt="Express"></a>
        <a href="https://nodejs.org/" target="_blank"><img src="img/node.js-logo.png" width="100px" alt="node.js"></a>
    </div>

</div>
