<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <a class="navbar-brand" href="#/home">Softeam training</a>
    <div id="navbar" ng-show="connected">
        <nav class="nav navbar-nav pull-xs-left">
            <a class="nav-item nav-link" href="#/trainings">Formations</a>
            <a class="nav-item nav-link" href="#/formers">Formateurs</a>
            <a class="nav-item nav-link" href="#">Admin</a>
            <a class="nav-item nav-link" href="#">Help</a>
        </nav>
        <btn-disconnect></btn-disconnect>
    </div>
</nav>
