<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <a class="navbar-brand" href="#/home">
        {  }
        <!-- <img class="softeam-logo" src="img/softeam-logo.png" width="180px"/> -->
    </a>
    <div id="navbar" ng-show="connected">
        <nav class="nav navbar-nav pull-xs-left">
            <a class="nav-item nav-link" href="#/trainings">Formations</a>
            <a class="nav-item nav-link" href="#/formers">Formateurs</a>
            <a class="nav-item nav-link" href="#/admin">Administration</a>
            <a class="nav-item nav-link" href="#/help">Aide</a>
        </nav>
        <btn-disconnect></btn-disconnect>
    </div>
</nav>
