<div class="sftm-training">
    <h2 class="md-subhead">{{training.name}}</h2>
    <div>{{training.description}}</div>
    <div>Durée : {{training.duration | duration}}</div>
    <div>Lien : <a href="{{training.link}}" target="_blank">{{training.link}}</a></div>
    <a class="btn btn-success btn-xs" aria-label="Modifier" href="#/trainings/edit/{{training._id}}">
        <span class="glyphicon glyphicon-edit"></span>
    </a>
    <button class="btn btn-danger btn-xs" aria-label="Supprimer" ng-click="remove()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>
