<div>
    <check-connection/>

    <h1 class="md-title">Liste des formations Softeam</h1>
    <md-button class="md-primary" ng-href="#/home">Retour à l'accueil</md-button>

    <div>
        <h4>Filters</h4>
        <label>
            Text : <input ng-model="trainingText"/>
        </label>
    </div>
    <ul>
        <li ng-repeat="training in trainings | filter:trainingText">
            <sftm-training training="training" remove="remove($index)"></sftm-training>
        </li>
    </ul>

    <button class="btn btn-primary btn-sm" ng-click="addNewTraining()">Ajouter une formation</button>

</div>
