<div ng-controller="TrainingsCtrl">
    <h1 class="md-title">Liste des formations Softeam</h1>
    <md-button class="md-primary" ng-href="#/home">Retour à l'accueil</md-button>

    <ul>
        <li ng-repeat="training in trainings" ng-controller="TrainingCtrl">
            <sftm-training training="training" edit="edit($index)" remove="remove($index)"></sftm-training>
        </li>
    </ul>

    <button class="btn btn-primary btn-sm" ng-click="addNewTraining()">Ajouter une formation</button>

</div>
