<div>
    <check-connection/>

    <div class="page-header">
        <h1>Liste des formations</h1>
    </div>

    <div>
        <h4>Filters</h4>
        <label>
            Text :
            <input ng-model="trainingText" />
        </label>
        <button class="btn btn-primary btn-sm" ng-click="addNewTraining()">Ajouter une formation</button>
        <!-- <button class="btn btn-success" ng-click="toggleView()"><i ng-class="tableViewIcon"></i></button> -->
    </div>
    <div ng-switch on="tableView">

        <div ng-swith-when="false">

            <!-- <div ui-grid="gridTrainings" class="trainings-grid"></div> -->

            <table class="table table-striped" ng-swith-when="false">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Durée</th>
                        <th>Lien</th>
                        <th>Date prochaine session</th>
                        <th>Date dernière session</th>
                        <th>
                            <!--Actions-->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="training in trainings | filter:trainingText">
                        <td>{{$index + 1}}</td>
                        <td>{{training.name}}</td>
                        <td>{{training.duration | duration}}</td>
                        <td><a href="{{training.link}}" target="_blank">{{training.link}}</a></td>
                        <td><sftm-date-session training-id="{{training.id}}" type="coming"></sftm-date-session></td>
                        <td><sftm-date-session training-id="{{training.id}}" type="past"></sftm-date-session></td>
                        <td>
                            <a class="btn btn-primary btn-xs" aria-label="Consulter" href="#/trainings/view/{{training.id}}">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                            <a class="btn btn-success btn-xs" aria-label="Modifier" href="#/trainings/edit/{{training.id}}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <button class="btn btn-danger btn-xs" aria-label="Supprimer" ng-click="remove($index)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <ul class="thumbnails" ng-switch-default>
            <li ng-repeat="training in trainings | filter:trainingText">
                <sftm-training training="training" remove="remove($index)"></sftm-training>
            </li>
        </ul> -->
    </div>

</div>
