<div ng-class="trainingClass">
    <check-connection/>

    <a class="btn btn-primary btn-sm" ng-href="#/trainings" ng-show="{{mode == 'View'}}">Retour aux formations</a>

    <div class="page-header" ng-show="mode == 'View'">
        <h1>{{training.name}}</h1>
    </div>

    <form name="formtraining" method="post" novalidate ng-submit="submit()" class="form-horizontal">
        <label for="trainingName" ng-show="mode != 'View'">Nom</label>
        <input id="trainingName" name="name" ng-model="training.name" ng-required="true" ng-minlength="3" class="form-control" ng-show="mode != 'View'">
        <div ng-show="formtraining.name.$invalid && mode != 'View'">
            <div ng-show="formtraining.name.$error.required" class="error">Obligatoire !</div>
            <div ng-show="formtraining.name.$error.minlength" class="error">Minimum 3 caractères</div>
        </div>

        <label for="trainingDescription">Description</label>
        <div ng-show="mode == 'View'">{{training.description}}</div>
        <textarea id="trainingDescription" ng-model="training.description" class="form-control" ng-show="mode != 'View'"></textarea>

        <label for="trainingName">Durée</label>
        <span ng-show="mode == 'View'">{{training.duration | duration}}</span>
        <input id="trainingDuration" type="number" name="duration" ng-model="training.duration" class="form-control" ng-show="mode != 'View'">
        <div ng-show="formtraining.link.$error.min && mode != 'View'" class="error">La durée doit être d'au moins 1 jour !</div>

        <label for="trainingLink">Lien</label>
        <a href="{{training.link}}" target="_blank" ng-show="mode == 'View'">{{training.link}}</a>
        <input id="trainingLink" type="url" name="link" min="1" ng-model="training.link" class="form-control" ng-show="mode != 'View'">
        <div ng-show="formtraining.duration.$error.url && mode != 'View'" class="error">Format d'URL invalide !</div>

        <br>
        <div ng-show="mode == 'View'">
            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="formtraining.$invalid" ng-click="addSession()"><i class="glyphicon glyphicon-plus"></i>Ajouter une session</button>

            <sftm-sessions training-id="{{training.id}}" type="past"></sftm-sessions>

            <sftm-sessions training-id="{{training.id}}" type="coming"></sftm-sessions>
        </div>
        <div ng-show="mode != 'View'">
            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="formtraining.$invalid">Enregistrer</button>
            <button class="btn btn-primary btn-sm" ng-click="cancel()">Annuler</button>
            <span ng-show="formtraining.$invalid" class="error">Erreur(s) sur le formulaire.</span>
        </div>
    </form>
</div>
