<div class="user-form">
    <check-connection/>

    <form name="formuser" method="post" novalidate ng-submit="submit()" class="form-horizontal">
        <label for="userId">Identifiant</label>
        <input id="userId" name="id" ng-model="user.id" ng-required="true" ng-minlength="2" ng-disabled="isEdit" class="form-control">
        <div ng-show="formuser.userId.$invalid">
            <div ng-show="formuser.userId.$error.required" class="error">Obligatoire !</div>
            <div ng-show="formuser.userId.$error.minlength" class="error">Minimum 2 caractères</div>
        </div>
        <br>
        <label for="userLastname">Nom</label>
        <input id="userLastname" name="lastname" ng-model="user.lastname" class="form-control">
        <br>
        <label for="userFirstname">Prénom</label>
        <input id="userFirstname" name="firstname" ng-model="user.firstname" class="form-control">
        <br>
        <label for="userEmail">E-mail</label>
        <input id="userEmail" name="email" ng-model="user.email" class="form-control">
        <br>
        <label for="userPassword">Mot de passe</label>
        <input id="userPassword" name="password" type="password" ng-model="user.password" class="form-control">
        <br>
        <label for="userSite">Site de rattachement</label>
        <site ng-model="user.site"></site>
        <br>
        <label for="userRole">Rôle</label>
        <role ng-model="user.role"></role>
        <br>
        <button type="button" class="btn btn-primary btn-sm" ng-click="back()">Annuler</button>
        <button type="submit" class="btn btn-primary btn-sm" ng-disabled="formtraining.$invalid">Enregistrer</button>
        <span ng-show="formtraining.$invalid" class="error">Erreur(s) sur le formulaire.</span>
    </form>
</div>
