body {
    font-size: 12px;
}

header {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: #a22;
    color: #fdfdfd;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

header h1 {
    padding-left: 20px;
    padding-top: 7px;
}

section {
    position: relative;
    display: block;
    margin: 100px auto 0;
    padding: 20px 20px 0;
    width: 940px;
}

section h1 {
    color: #646464;
    border-bottom: 1px solid #b2b2b2;
}

footer {
    border-top: 1px solid #b2b2b2;
    margin: 20px auto;
    padding: 10px;
    width: 940px;
    color: #646464;
}
footer span {
    font-size: 11px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin-bottom: 15px;
}

div.login-form,
div.training-form {
    border: 1px solid #ddd;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
}

div.login-form input,
div.training-form input,
div.training-form textarea {
    width: 100%;
    margin-bottom: 10px;
}

div.login-form .error,
div.training-form .error {
    width: 100%;
    color: #f00;
}

li div.sftm-training {
    padding-left: 10px;
}
li div.sftm-training div {
    padding-left: 10px;
}
li div.sftm-training button {
    margin: 10px;
}
