<div ng-controller="TrainingsCtrl">
    <h1 class="md-title">Liste des formations Softeam</h1>
    <ul>
        <li ng-repeat="training in trainings" ng-controller="TrainingCtrl">
            <div>
                <h2 class="md-subhead">{{training.name}}</h2>
                <span>{{training.description}}</span>
                <span>Durée : {{training.duration}} jour{{(training.duration > 1) ? 's' : ''}}</span>
                <span>Lien : <a href="{{training.link}}">{{training.link}}</a></span>
            </div>
            <md-button class="md-fab md-mini md-primary" aria-label="Supprimer" ng-click="remove($index)">x</md-button>
        </li>
    </ul>

    <md-button class="md-raised md-primary" ng-click="addNewTraining()">Ajouter une formation</md-button>

</div>
